<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142923962740-igctqgsffaltaju0v4n1hjfcidaas1j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142923962740-igctqgsffaltaju0v4n1hjfcidaas1j0</string>
	<key>API_KEY</key>
	<string>AIzaSyDFytYjdepQ0kJO0Q-U01Ap6Kf19clWTG4</string>
	<key>GCM_SENDER_ID</key>
	<string>142923962740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendlyeats</string>
	<key>PROJECT_ID</key>
	<string>friendlyeats-f6196</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlyeats-f6196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142923962740:ios:41c9bee9b06e4a75183421</string>
</dict>
</plist>